# s3 access key id
AWS_ACCESS_KEY_ID=hoge
# s3 secret access key
AWS_SECRET_ACCESS_KEY=hoge
# s3 endpoint
AWS_ENDPOINT=https://s3.us-west-1.wasabisys.com
# bucket name
S3_BUCKET=hoge-minecraft
# import file date
DAYS_BEFORE=1
# memory limit
MAX_MEM=2G
MIN_MEM=2G
# gc number of thread
GCTHREADS=2
# backup filename prefix
PREFIX=hoge-minecraft-backup
# minecraft jar file
JARFILE=/minecraft_data/forge_server.jar
